h1
{
  font-family: 'Lato', sans-serif;
}
form
{
    border-style: outset;
    border-width: thick;
    border-color: darkred;
}
.container {
  margin: 100px;
}
#cats
{
  transform: rotate(3deg);
}
.box {
  background:pink;
  background-image:linear-gradient(white, pink);
  border-radius: 5px;
  display: inline-block;
  height: 80px;
  margin: 20px;
  width: 80px;
}
.container:hover {
    transform: scale(1.2);
  
}

.box1 {
  transition: all 1.3s;
}

.box2 {
  transition: all 1.3s 0.5s;
}

.box3 {
  transition: all 1.3s 1s;
}

#moving {
  animation: mymove 5s infinite;
}
@-webkit-keyframes mymove {
  from {top: 0px;}
  to {top: 800px;}
}

@keyframes mymove {
  from {top: 0px;}
  to {top: 800px;}
}


.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: linear-gradient(to top, black 0%, white 100%)
}

.footer {
  background: lightgreen;
}

.main {
  text-align: left;
  background: deepskyblue;
  column-gap: 40px;
  column-count: 2;
  column-rule: solid blue;
}

.aside-1 {
  background: peru;
}

.aside-2 {
  background: mediumslateblue;
}
#anim {
  width: 100%;
  height: 100px;
  background-color: lightsalmon;

  animation-name: clr;
  animation-duration: 4s;
}
@keyframes clr {
  from {background-color: red;}
  to {background-color: yellow;}
}
@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
  padding: 2em; 
}


table th 
{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
table tr:nth-child(even)
{
    background-color: #f2f2f2;
}

table tr:hover 
{
    background-color: #ddd;
}
table
{
overflow-x:auto;
}

#dogs th
{
    padding: 15px;
  text-align: left;
}

#dogs th, #dogs td {
    border-top: 1px solid #4CAF50;
    border: 2px solid #1c87c9;
    border-radius: 8px;
    box-shadow: 5px 10px;
  }
  h1, p[style] 
{
    background-color: blueviolet;
}
h3
{
background-color: lightblue;
}
mark
{
font-style: italic;
}
input:required {
    background-color: khaki;
  }
  
input:checked {
    height: 50px;
    width: 50px;
  }
  input[type=text] {
    width: 100px;
    transition: ease-in-out, width .35s ease-in-out;
  }
  p:nth-last-child(2) {
    background: whitesmoke;
  }

  a:link {
    color: red;
  }
  
  a:visited {
    color: rgba(0, 255, 0, 0.3);
  }
  
  a:hover {
    color: hotpink;
    font: size 130%;
  }
  
  a:active {
    color: blue;
  }
  
  article:empty
  {
background: thistle;
  }
  section:only-child {
    background: #f7d1b3;
  }
  :not(div) {
      justify-content: left;
  }
  p:first-child {
    background-color: seashell;
  }
  div:target {
    border: 2px solid #D4D4D4;
    background-color: #e5eecc;
  }
  .tab div {
    display: none;
  }
  
  .tab div:target {
    display: block;
  }

  input:enabled {
    background: lightgreen;
  }
  input[type="text"]:disabled {
    background: #dddddd;
  }
  p:last-of-type {
    border-bottom-color: #ffc400;
    font-family:monospace;
  }
  a:link {
    color: hsla(120, 100%, 50%, 0.3);
  } 
  @media only screen and (max-width: 600px) {
    body {
      background-color: rgb(227, 243, 248);
    }
  }
  .dropbtn {
    background-color: #09C;
    color: white;
    padding: 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }


  ol {
    list-style-type:none;
    padding:0;
    margin:0;
    font-size:18px;
    height:2em;
    line-height:2em;
    background-color:#FFF;
    text-align:center;
  }
  ol a {
    display:block;
    color:#000;
    text-decoration:none;
    padding:0 5px;
  }
  ol > li > a:hover {
    color:#09C;
  }
  
  ol > li:hover {
    background-color:#EEE;
  }
  ol > li > ul {
    list-style-type:none;
    padding:0;
    margin:0;
    display:none;
  }
  
  ol > li:first-child {
    margin-left:0;
  }
  ol > li > ul > li > a {
    border-top:1px solid #FFF;
  }

  
  ol > li > ul > li {
    background-color:#EEE;
  }
  
  ol > li > ul > li:hover {
    background-color:rgb(221, 221, 221);
  }
  
  ol > li > ul > li:hover a {
    color:#09C;
  }
  
  ol > li:hover > ul {
    display:block;
  }
  ol > li {
    float:left;
    background-color: lightcyan;
    width:150px;
    margin-left:1px;
    height:2em;
  }
  
  ol > li:hover > a {
    color:#09C;
  }
  #menu > li > ul > li {
    position:relative;
    background-color:#EEE;
  }
  
  #menu > li > ul > li > ol {
    display:none;
    position:absolute;
    left:100%;
    width:150%;
  }
  
  #menu > li > ul > li:hover > ol {
    display:block;
  }
  #menu > li > ul > li > ol {
    display:none;
    position:absolute;
    left:100%;
    margin-top:-2em;
    width:150%;
  }
  #menu > li > ul > li > ol > a {
    border-top:1px solid #FFF;
    border-left:1px solid #FFF;
    border-radius: 25px
  }
  
  #menu > li > ul > li > ol > a:hover {
    color:#09C;
  }
  
  #menu li, #menu a {
    border-radius:6px;
    border-color: cadetblue;
    border: double;
  }
  
  #menu > li > ul > li > ol > li {
    background-color: lightsteelblue;
  }

  body{
  background-image: url(images/log.png); background-position: bottom right; background-repeat: no-repeat;
            background-attachment: fixed; background-color: mediumaquamarine;}

  h1{ text-shadow: 2px 2px #535151;}



  .cols3 h1 {
    column-span:all;
  }
  
      .cols3 {
         width: 100%;
         max-width: 600px;
      }
  
      @media (min-width: 400px) {
        .cols3 {
  
          column-count: 2;
          column-gap: 20px;
          column-rule: 1px solid #000;
        }
      }
  
      @media (min-width: 600px) {
        .cols3 {

          column-count: 3;
        }
      }
